
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    color: royalblue;
}

.portugues{
    color: aqua;
}

#espanhol {
    color: green;
}

.display {
    background-color: gray;
    border: solid 2px black;
    width: 500px;
    margin: 10px;
    border-radius: 30px;
}    

.display2{
    background-color: blanchedalmond;
    border: solid 2px black;
    border-radius: 30px;
    width: 500px;
    margin: 10px;
    border: 2px black;
}

.display3{
    background-color: blueviolet;
    border: solid 2px black;
    width: 500px;
    margin: 10px;
    border: 2px black;
}

